<div class="banner">
	<ul class="rslides" id="slider">
		<li>
			<div class="banner-info">
				<h3>System Administration</h3>
				<span class="line1"></span>
				<p>Learn from zero to expert</p>
				<span class="line2"></span>
				<div class="social-icons">
          <%= link_to "<span class=\"facebook\"></span>".html_safe, "https://www.fb.com/itnewbie" %>
					<!-- <a href="#"><span class="twitter"></span></a> -->
          <%= link_to "<span class=\"linkedin\"></span>".html_safe, "https://www.linkedin.com/in/geekid/" %>
					<!-- <a href="#"><span class="googleplus"></span></a> -->
				</div>
			</div>
		</li>
		<li>
			<div class="banner-info">
				<h3>Network Engineer</h3>
				<span class="line1"></span>
				<p>Try error and Problem Solving</p>
				<span class="line2"></span>
				<div class="social-icons">
          <%= link_to "<span class=\"facebook\"></span>".html_safe, "https://www.fb.com/itnewbie" %>
					<!-- <a href="#"><span class="twitter"></span></a> -->
          <%= link_to "<span class=\"linkedin\"></span>".html_safe, "https://www.linkedin.com/in/geekid/" %>
					<!-- <a href="#"><span class="googleplus"></span></a> -->
				</div>
			</div>
		</li>
		<li>
			<div class="banner-info">
				<h3>Web Developer</h3>
				<span class="line1"></span>
				<p>Read, Build, and Fixed code.</p>
				<span class="line2"></span>
				<div class="social-icons">
          <%= link_to "<span class=\"facebook\"></span>".html_safe, "https://www.fb.com/itnewbie" %>
					<!-- <a href="#"><span class="twitter"></span></a> -->
          <%= link_to "<span class=\"linkedin\"></span>".html_safe, "https://www.linkedin.com/in/geekid/" %>
					<!-- <a href="#"><span class="googleplus"></span></a> -->
				</div>
			</div>
		</li>
	</ul>
</div>
